<!DOCTYPE html>


<html>

    <head>
        <style>

             .button1 , .button2 , .paragraph {
                display:inline-block;
             }
    
             .button1 , .button2  {
                margin:5px;
                padding:10px;
            }

            .flex{
                float:right;
                margin-right : 60%;
            }

        </style>

        
    </head>

        <body>

            
                Trying to show devices list
                <br><br>

                

                {{#each lista_array}}
                
                
                <div class="paragraph">
                    <p>

                    {{this.first}} - {{this.second}} - {{this.ppi_size}} - {{this.browser}} - {{this.version}} - {{this.os}}
                    
                    </p>
                </div>

                <div class="flex">
                    <button class="button1" type="button"> Run </button>
                    <button class="button2" type="button" onclick({{this.first}} , {{this.second}} ,{{this.ppi_size}} , {{this.browser}} ,{{this.version}} , {{this.os}} )> Remove</button>
                </div>
               
                <br><br>
                {{/each}}

                
              
                

                {{no_list}}


        <script>

            var run_device = (first , second , ppi , browser , version , os ) => {
                socket.emit('send_device_to_run' , first , second , ppi , browser , version , os )
            }

            var remove_device = (first , second , ppi , browser , version , os ) => {
                socket.emit('send_device_to_remove' , first , second , ppi , browser , version , os )
            }



        </script>
            
        </body>


    


    






</html>